body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-banner{
    background-image:url(./img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;

    
}

.speaker{
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
}
.speaker:hover{
    transform:translatey(-10px );
    -webkit-transform:translatey(-10px );
    -moz-transform:translatey(-10px );
    -ms-transform:translatey(-10px );
    -o-transform:translatey(-10px );
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.speaker:hover  h5  {
    color: blue;
}
.speaker:hover p {
    color: blue;
}
.you-tube{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Organizers {
    --s: 20rem;   /* the size of the image */
    --b: 4px;     /* the border thickness*/
    --g: 10px;    /* the gap */
    --c: #4ECDC4; /* the color */
    
    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0009;
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: .3s;
  }
  .Organizers:hover{
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }


  
 



























































































