body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-banner{
    background-image:url(./img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;

    
}

.speaker{
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
}
.speaker:hover{
    transform:translatey(-10px );
    -webkit-transform:translatey(-10px );
    -moz-transform:translatey(-10px );
    -ms-transform:translatey(-10px );
    -o-transform:translatey(-10px );
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.speaker:hover  h5  {
    color: blue;
}
.speaker:hover p {
    color: blue;
}
.you-tube{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Organizers {
    --s: 20rem;   /* the size of the image */
    --b: 4px;     /* the border thickness*/
    --g: 10px;    /* the gap */
    --c: #4ECDC4; /* the color */
    
    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0009;
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: .3s;
  }
  .Organizers:hover{
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }

  #data tr {
    display: none;
    
  }
  #data{
    margin-top: 10px;
  }
  .day{
    text-decoration: none;
    text-transform: none;
    font-weight: 500;
    margin: 5px;
    color: white;
    
    
 
}
  .styleDay{
    padding: 5px 10px;
    
    background-color: darkslategray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}
.styleDay:hover{
    background-color: darkgoldenrod;
}

.wrap{
    display: flex;
    flex-direction: row;
}
.timer{
    display: flex;
    text-align: center;
    flex-direction: row;
    margin-left: 3rem;
    gap: 30px;
    color:rgb(56, 19, 166);
    margin-top: -5px;
    
   
}
.days{
    background-color: lightskyblue;
    padding: 11px;
    font-size: 50px;
    font-weight: 700;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.days p{
    color: rgb(86, 84, 84);
    font-weight: 200;
}


.hours{
    background-color: lightskyblue;
    padding: 11px;
    font-size: 50px;
    font-weight: 700;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
   
}
.hours p{
    color: rgb(86, 84, 84);
    font-weight: 200;

}
.mins{
    background-color: lightskyblue;
    padding: 11px;
    font-size: 50px;
    font-weight: 700;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.mins p{
    color: rgb(86, 84, 84);
    font-weight: 200;

}

.secs{
    background-color: lightskyblue;
    padding: 11px;
    font-size: 50px;
    font-weight: 700;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.secs p{
    color: rgb(86, 84, 84);
    font-weight: 200;

}
.allspeakers{
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center;
}


@media screen and (max-width:430px){
    #speakers{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .youtube{
        width: 280px;
        height: 160px;
    }
    .quote{
        display: flex;
        flex-direction: column;
        width: 18rem;
        
    }

}









  




























































































